.DS_Store
.idea
.temp
.cache
*.pyc
*.log
*~
*.swp
/venv/*
.vscode
release/*
venv
.env
.venv
.*-venv
results
release
site
scratches
scripts/resources
launch.py
tests/test_files/data
tests/test_files/unreal_projects/**/DefaultInput.ini
tests/test_files/blender_files/textures