:root {
    // brand colors
    --c-brand: #4289b9 !important;
    --c-brand-light: #469fcd !important;

    // custom container colors
    --c-tip: #469fcd !important;
    --c-text-accent: #4289b9 !important;
}

