---
---
@import "https://fonts.googleapis.com/css?family=Poppins:250,400,500,600,700";
@import "minima";

.wrapper {
  all: unset;
}

.components {
  all: unset;
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background: #fafafa;
}

p, ol, ul {
    color: #999;
}

p {
    font-size: 1.1em;
    font-weight: 250;
    line-height: 1.7em;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #3f3f3f;
    color: #ffffff !important;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
    text-decoration: none;
    -webkit-text-fill-color: #ffffff;
    -webkit-opacity: 1;

}

#sidebar.active {
    margin-left: -250px;
    transform: translateX(-250);
}

#footer {
    position: fixed;
    left: 250px;
    right: 0%;
    bottom: 0;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#footer.active {
    margin-left: -250px;
    transform: translateX(-250);
}


#sidebar {

    .active {
        margin-left: -250px;
        transform: translateX(-250);
    }

    .sidebar-title {
        margin: 30px;
        text-align: center;
        color: inherit;
        text-decoration: inherit;
        -webkit-text-fill-color: inherit;
        -webkit-opacity: inherit;
    }

    .sidebar-header {
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 0px;
        color: inherit;
        text-decoration: inherit;
        -webkit-text-fill-color: inherit;
        -webkit-opacity: inherit;
    }

    .sidebar-section {
        background: #1f1f1f;
        color: inherit;
        text-decoration: inherit;
        -webkit-text-fill-color: inherit;
        -webkit-opacity: inherit;
    }

    .sidebar-item {
        background: #2f2f2f;
        color: inherit;
        text-decoration: inherit;
        -webkit-text-fill-color: inherit;
        -webkit-opacity: inherit;
    }

    .sidebar-sub-menu {
        background: #1f1f1f;
        color: inherit;
        text-decoration: inherit;
        -webkit-text-fill-color: inherit;
        -webkit-opacity: inherit;
    }

    .sidebar-sub-item {
        background: #3f3f3f;
        color: inherit;
        text-decoration: inherit;
        -webkit-text-fill-color: inherit;
        -webkit-opacity: inherit;
    }

    li, ul {
      margin: unset;
    }

    ul.components {
        padding: 20px 0;
    }

    ul p {
        color: #fff;
        padding: 10px;
    }

    ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }

    a:hover {
        color: #3f3f3f;
        background: #9f9f9f;
    }

    ul li.active > a, a[aria-expanded="true"] {
        color: #fff;
        background: #2f2f2f;
    }
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #2f2f2f;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #3f3f3f;
}

a.article, a.article:hover {
    background: #2f2f2f !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f8f9fa;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: translateX(-250);
    }
    #footer {
        margin-left: -250px;
        transform: translateX(-250);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #footer.active {
        margin-left: 0;
        transform: none;
    }

    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}

@media (min-width: 992px) {
    #search-doc {
        left: -2%;
    }
    #footer {
        visibility: visible;
    }
}

@media (max-width: 992px) {
    #footer {
        visibility: hidden;
    }
}

.highlighter-rouge .highlight {
    background: #f5f2f0;
}

.max-image-height{
    height: 100%;
}

